button {
  margin: 1rem;
  background: lightblue;
  height: 40px;
  color: blue;
  font-size: large;
  border-radius: 5px;
}
button:hover {
  background: steelblue;
}

body {
  background: lightskyblue;
  text-align: center;
  color: blue;
  margin-top: 5rem;
}
