.aboutimg {
  display: flex;
  flex: 1;
  margin: 1rem;
  margin-top: 4rem;
  height: 350px;
  border-radius: 5px;
}
.about {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background: cornsilk;
  min-height: auto;
}

.maintext{
  flex: 1;
} 
